<div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5"> 
                <div class="form-input"> 
                    <i class="fa fa-user"></i> 
                    <input type="text" 
                    class="form-control" 
                    placeholder="User Name"> 
                </div>
                <div class="form-input"> 
                    <i class="fa fa-lock"></i> 
                    <input 
                    type="text" 
                    class="form-control" 
                    placeholder="***********" > 
                    <i class="fa fa-eye"></i>
                </div>
                <div class="form-input">
                    <button class="btn btn-success btn-block rounded-3 mt-4 signup">LOGIN</button>
                   
                </div>
            </div>
        </div>
    </div>
</div>
